credentials:
  ddApiKey: ${DD_API_KEY:-}
  ddAppKey: ${DD_APP_KEY:-}
  awsRegion: ${AWS_REGION:-}
  datadogCredentialsAwsArn: ${DATADOG_CREDENTIALS_AWS_ARN:-}
testSettings:
  datadogApiHost: datadoghq.eu
  defaults:
    testFrequencySec: 300
    minFailureDurationSec: 300
    minLocationFailed: 1
    retryCount: 1
    retryIntervalMillisec: 60.0
    renotifyIntervalMinutes: 10
    runLocations:
      - aws:eu-central-1
