name: Create release

on:
  create:
    tags:
      - 'v*'

jobs:
  create-release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 1
      - name: Prepare release notes from Changelog
        id: prep
        run: |
          VERSION=$(echo ${{ github.ref_name }} | tr -d 'v')
          CHANGELOG=$(sed -n '/## \['"$VERSION"'\]/, /^## /p' CHANGELOG.md | sed '1d;$d')
          echo "CHANGELOG<<EOF" >> $GITHUB_OUTPUT
          echo "$CHANGELOG" >> $GITHUB_OUTPUT
          echo "EOF" >> $GITHUB_OUTPUT
      - name: Create Release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          gh release create ${{ github.ref }} -t "Release ${{ github.ref_name }}" --notes "${{ steps.prep.outputs.CHANGELOG }}" --generate-notes
    if: "startsWith(github.ref, 'refs/tags/')"
