name: Verify

on:
  push

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
      with:
        fetch-depth: 1
    - name: Install Java
      uses: actions/setup-java@v3
      with:
        java-version: "11"
        distribution: "temurin"
    - name: Run unit tests
      run: ./gradlew test
  lint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
      with:
        fetch-depth: 1
    - name: Install Java
      uses: actions/setup-java@v3
      with:
        java-version: "11"
        distribution: "temurin"
    - name: Run lint check
      run: ./gradlew ktlintCheck
